<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Student number</th>
      <th>Full name</th>
      <th>Major</th>
      <th>Start year</th>
      <th>Total hours</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_number %></td>
        <td><%= student.full_name %></td>
        <td><%= student.major %></td>
        <td><%= student.start_year %></td>
        <td><%= student.total_hours %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
