<p id="notice"><%= notice %></p>

<p>
  <strong>Student number:</strong>
  <%= @student.student_number %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @student.full_name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @student.start_year %>
</p>

<p>
  <strong>Total hours:</strong>
  <%= @student.total_hours %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
